@use "/src/sass/base/variables.scss" as *;

.footer {
    padding: 50px 0;
    background-color: $dark;

    &__header {
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: $light;
        font-style: normal;
        line-height: normal;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        color: $light;
        font-style: normal;
        line-height: normal;

        &_spaced {
            margin-top: 40px;
        }
    }

    &__form {
        margin-top: 40px;
    }

    &__input {
        display: block;
        width: 293px;
        padding-bottom: 15px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-bottom: 1px solid $ui-active;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: $ui-active;

        &::placeholder {
            color: $ui-active;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            line-height: normal;
        }
    }

    &__check-block {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        font-style: normal;
        color: $light;
        margin-top: 20px;

        a {
            margin-left: 4px;
            text-decoration: none;
            color: #a22dc6;
        }
    }

    &__checkbox {
        margin-right: 15px;
        border-radius: 2px;
        width: 15px;
        height: 15px;
    }

    &__form-btn {
        margin-top: 20px;
    }

    &__links {
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
        column-gap: 66px;
        row-gap: 40px;
    }

    &__nav {
        margin-top: 40px;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 0;
            list-style-type: none;
        }
    }

    &__link {
        a {
            text-decoration: none;
            color: $light;
            font-weight: 400;
            font-size: 16px;
            line-height: normal;
            font-style: normal;
        }
    }

    &__social {
        margin-top: 40px;

        &-block {
            margin-top: 40px;
            list-style-type: none;
            padding: 0;
            display: flex;
            column-gap: 10px;

            a {
                color: $light;
                display: block;
                text-decoration: none;
                font-size: 24px;
            }

            span::before {
                margin: 0;
            }
        }
    }

    &__copyright {
        margin-top: 40px;
        font-weight: 400;
        font-size: 14px;
        color: $light;
        line-height: normal;
        font-style: normal;
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__newsletter {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__newsletter {
            width: auto;
        }

        &__copyright {
            margin-top: 50px;
        }

        &__social,
        &__links {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        padding-top: 80px;
        &__copyright {
                margin-top: 18px;
            }
    }
}