@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;

    &__wrapper {
        margin-top: 60px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    &__label {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $dark;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        width: 100%;
        border: 1px solid $light;
        border-radius: 2px;
        padding: 10px 15px;
        color: $dark;
        height: 48px;
        background: $light;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__textarea {
        width: 100%;
        border: 1px solid $light;
        border-radius: 2px;
        padding: 10px 15px;
        color: $dark;
        height: 132px;
        background: $light;
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;

        a {
            color: #a22dc6;
            text-decoration: none;
            margin-left: 3px;
        }
    }

    &__checkbox {
        vertical-align: middle;
        margin-right: 15px;
        height: 15px;
        width: 15px;
    }

    &__btn {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        &__img {
            width: 100%;
            height: 356px;
        }
    }
}